h1{
    font-size: 2em;
    margin-bottom: 40px;
}

.btn{
    margin-top: 1.5em;
}

/*HEADER*/

header{
    padding: 40px 0;
}

#navbarNav{
    justify-content: flex-end;
    margin-top: 20px;
}

.navbar .navbar-toggler{
    border: solid 1px rgb(240,240,240);
}

.navbar .navbar-toggler-icon{
    background-image: url(./images/menu.svg);
    background-size: 20px auto;
    opacity: .5;
}

.navbar-expand-md .navbar-nav .nav-link{
    color: rgb(150,150,150);
}

.navbar-expand-md .navbar-nav .active .nav-link{
    color: rgb(24,24,24);
}

/*HOME*/

.miniatura-galeria{
    border: none;
    margin: 15px 0;
    padding: 0;
}

.miniatura-galeria img, .modal img{
    height: auto;
    width: 100%;
}

/*ABOUT*/

#about{
    justify-content: center;
    padding: 20px 0 40px;
}

#image__about img{
    height: auto;
    width: 100%;
}

#info__about{
    margin-top: 40px;
}

/*CONTACT*/

#contact{
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}

#contact .row{
    justify-content: center;
}

#contact .row form{
    margin-top: 40px;
}

#contact .row form .form-group{
    text-align: left;
}

/*FOOTER*/

footer{
    color: rgb(150,150,150);
    padding: 40px 0;
    text-align: center;
}

footer a{
    color: rgb(24,24,24);
    text-decoration: underline;
}

@media (min-width: 576px){}

@media (min-width: 768px){

    h1{
        font-size: 3em;
    }

    #navbarNav{
        margin-top: 0;
    }

    #about{
        padding: 40px 0 60px;
    }

    #info__about{
        margin-top: 0;
    }

    #contact{
        padding-bottom: 60px;
        padding-top: 40px;
    }

    footer{
        text-align: inherit;
    }

}

@media (min-width: 992px){}

@media (min-width: 1200px){}